[tool.poetry]
name = "Gefyra"
version = "1.0.2"
description = "Gefyra runs all developer machine side components of Gefyra's Kubernetes-based development infrastructure"
authors = ["Michael Schilonka <michael@unikube.io>"]
readme = "README.md"
homepage = "https://gefyra.dev"
repository = "https://github.com/gefyrahq/gefyra"
documentation = "https://gefyra.dev"
keywords = [
    "Kubernetes",
    "Development",
    "Cloud-native"
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux"
]

[tool.poetry.dependencies]
python = "^3.8"
kubernetes = ">=24.2,<26.0"
docker = "^6.0.0"
cli-tracker = ">=0.2.7,<0.4.0"
tabulate = ">=0.8.10,<0.10.0"

[tool.poetry.dev-dependencies]
flake8-bugbear = "^23.1.20"
black = "^23.1.0"
flake8 = "^5.0.4"
flake8-black = "^0.3.6"
pytest = "^7.2.1"
coverage = {extras = ["toml"], version = "^6.5.0"}
coveralls = "^3.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
gefyra = "gefyra.__main__:main"
setversion = "version:set_version"

[tool.poetry.urls]
issues = "https://github.com/gefyrahq/gefyra/issues"

[tool.coverage.run]
branch = true
source = ["gefyra"]