[tool.poetry]
name = "Gefyra"
version = "0.6.15"
description = "Gefyra runs all developer machine side components of Gefyra's Kubernetes-based development infrastructure"
authors = ["Michael Schilonka <michael@unikube.io>"]
readme = "README.md"
homepage = "https://gefyra.dev"
repository = "https://github.com/gefyrahq/gefyra"
documentation = "https://gefyra.dev"
keywords = [
    "Kubernetes",
    "Development",
    "Cloud-native"
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux"
]

[tool.poetry.dependencies]
python = "^3.8"
kubernetes = "^19.15.0"
docker = "^5.0.3"

[tool.poetry.dev-dependencies]
flake8-bugbear = "^22.1.11"
black = "^22.1.0"
flake8 = "^4.0.1"
flake8-black = "^0.2.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
gefyra = "gefyra.__main__:main"
setversion = "version:set_version"

[tool.poetry.urls]
issues = "https://github.com/gefyrahq/gefyra/issues"
