# This workflow will build all of Gefyra's container images multi-arch

name: Build Container Images

# Controls when the workflow will run
on:
  workflow_dispatch: {}
  push:
    branches: [ main ]
    tags:
      - "*"

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_ROBOT }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}
      #
      # Gefyra Operator
      #
      - name: Operator Image meta
        uses: docker/metadata-action@v3
        with:
          flavor: |
            latest=false
          images: |
            quay.io/gefyra/operator
          tags: |
            type=raw,value=latest,enable=${{ github.event_name == 'push' }}
            type=raw,value={{tag}},enable=${{ github.event_name == 'tags' }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: operator/
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
      #
      # Gefyra Cargo
      #
      - name: Cargo Image meta
        uses: docker/metadata-action@v3
        with:
          flavor: |
            latest=false
          images: |
            quay.io/gefyra/cargo
          tags: |
            type=raw,value=latest,enable=${{ github.event_name == 'push' }}
            type=raw,value={{tag}},enable=${{ github.event_name == 'tags' }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: cargo/
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
      #
      # Gefyra Carrier
      #
      - name: Carrier Image meta
        uses: docker/metadata-action@v3
        with:
          flavor: |
            latest=false
          images: |
            quay.io/gefyra/carrier
          tags: |
            type=raw,value=latest,enable=${{ github.event_name == 'push' }}
            type=raw,value={{tag}},enable=${{ github.event_name == 'tags' }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: carrier/
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
      #
      # Gefyra Stowaway
      #
      - name: Stowaway Image meta
        uses: docker/metadata-action@v3
        with:
          flavor: |
            latest=false
          images: |
            quay.io/gefyra/stowaway
          tags: |
            type=raw,value=latest,enable=${{ github.event_name == 'push' }}
            type=raw,value={{tag}},enable=${{ github.event_name == 'tags' }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: stowaway/
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
