name: black and flake8

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install Poetry
      uses: snok/install-poetry@v1
    - name: Lint and flake8 client
      working-directory: client/
      run: |
        poetry install
        poetry run black . --check
        poetry run flake8 --config ../setup.cfg
    - name: Lint and flake8 operator
      working-directory: operator/
      run: |
        poetry install
        poetry run black . --check
        poetry run flake8 --config ../setup.cfg